//====================================================================================================
.footer {
	background-color: #141414;
	box-shadow: 0px -5px 7px rgba(255, 87, 51, 0.75);
	// .footer__container
	&__container {
		padding: 30px 50px 5px 50px;
		@media (max-width:$tablet){
			padding: toRem(30) toRem(15) toRem(15) toRem(15);
		}
	}
	
	// .footer__row
	&__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		@media (max-width:$mobile){
			flex-direction: column;
		}
	}
	// .footer__column
	&__column {
		width: 100%;
		@media (max-width:$mobile){
			flex: 0 1 100%;
			min-width: 100%;
		}
	}
	// .footer__items-list
	&__items-list {
		display: flex;
		justify-content: space-between;
		max-width: toRem(400);
		@include adaptiveValue("margin-bottom", 30, 20);
		margin: 0 auto;
		@include adaptiveValue("font-size", 20, 16);
	}
}

.footer__items-list a{
	padding: 15px;
	color: hsl(0, 0%, 80%);
	transition: color 0.3s ease;
	&:hover {
    color: hsl(0, 0%, 100%);
  }
}

.copy {
	// .copy__rights
	&__rights {
		display: flex;
		justify-content: center;
		font-size: toRem(12);
		color: #939799;
		margin-bottom: 15px;
	}
}
//====================================================================================================
