// languages
html[lang*="en"] {
    #en {
        display: none !important;
    }
}

// RUSSIAN
html[lang*="ru"] {
    #ru {
        display: none !important;
    }
}

// KAZAKH
html[lang*="kk"] {
    #kz {
        display: none !important;
    }
}


// TURKISH
html[lang*="tr"] {
    #tr {
        display: none !important;
    }
}


// KOREAN
html[lang*="ko"] {
    #kr {
        display: none !important;
    }
}



//HOME ============================================================
.home__container {
	margin-top: 70px;
}

.home {
	&__slide img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin-bottom: 45px;
		border-radius: 15px;
		box-shadow: 0px 3px 3px 2px rgba(34, 60, 80, 0.2);
		padding: 3px;
	}
}

.swiper-pagination-bullet-active,
.swiper-pagination-bullet {
	background-color: #fff !important;
}

//INFO =========================================================
.info {
	// .info__block
	&__block {
		padding: toRem(15) toRem(0);
	}
	// .info__title-body
	&__title-body {
		@include adaptiveValue('margin-bottom', 40, 20);
	}
	// .info__title
	&__title {
		text-transform: capitalize;
		line-height: 120%;
		@include adaptiveValue('margin-top', 30, 20);
		@include adaptiveValue('margin-bottom', 10, 5);
		&::after {
			content: '';
			position: absolute;
			top: 250%;
			left: 0;
		}
	}
	// .info__subtitle
	&__subtitle {
		letter-spacing: 2px;
		@include adaptiveValue('font-size', 16, 14);
		font-weight: 600;
		text-align: center;
		color: #fff;
	}
	// .info__list
	&__list {
		max-width: 1000px;
		margin: 0 auto;
		@media (min-width: $mobile) {
			columns: 2;
			-webkit-columns: 2;
			-moz-columns: 2;
			@include adaptiveValue('column-gap', 140, 0);
		}
	}
	// .info__item
	&__item {
		display: flex;
		justify-content: space-between;
		@include adaptiveValue('font-size', 20, 18);
		font-weight: 500;
		line-height: 120%;
		letter-spacing: 1px;
		border-bottom: 1px dotted $mainColor;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
}




// GALLERY ================================================
.gallery {
	// .gallery__images
	&__images {
		// background-color: yellow;
		display: grid;
		grid-gap: 15px;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(4, 30vw);
		@media (min-width: $mobile) {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 30vw);
		}
		@media (min-width: $tablet) {
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(1, 20vw);
		}
	}
	// .gallery__image
	&__image {
	}
	// .gallery__preview
	&__preview {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
		border-radius: 5px;
		border: 1px solid rgba(148, 148, 148, 0.5);
	}
}

//  VIDEO ===========================================
.img-responsive {
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
}

.thumb-showreel {
	border: 2px solid gray;
}

.swiper-pagination-video {
	text-align: center;
}

// LINKS================================================

.links {
	&__items {
		margin-bottom: 50px;
		text-align: center;
	}
	// .links__list
	&__list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: toRem(30);
		@include adaptiveValue('gap', 50, 25);
		margin-bottom: 50px;
	}
}

.links__item a{
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_google-drive{
   width: 100%;
	 height: 100%;
	 max-width: 280px;
	 background-color: hsl(146, 9%, 32%);
	 padding: 10px 20px;
	 border-radius: 15px;
	 transition: all 0.3s ease;
	 &:hover{
		 background-color: hsl(148, 9%, 25%);
	 }
}

.btn_google-drive a{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: hsl(0, 0%, 100%);
	font-weight: 500;
	font-size: 24px;
	line-height: 120%;
  text-decoration: none;
  transition: all 0.3s ease;
	&:hover{
    color: hsl(0, 0%, 80%);
  }
}

._icon-google-drive{
}


//   FORM ======================================
.form-container {
	margin-bottom: 30px;
}

.home__form {
	background-color: #000;
	padding: 20px 15px;
	margin: 0 auto;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 14px;
	border: 1px solid gray;
	max-width: 480px;
}

.contact__group {
	display: grid;
	row-gap: 2rem;
}

.contact__form .contact__area {
	height: 10rem;
}

// @media (min-width:$tablet){
// 	  .contact__group {
//     	display: grid;
// 			grid-template-columns: repeat(3, 1fr);
// 	    gap: 1rem;
//   }
// 	  .contact__form .contact__area{
// 	    height: 7rem;
// 			grid-column: 2 / 3;
//   }
// 	.form__button{
// 		grid-column: 2 / 3;
// 	}
// }

.form__title {
	font-size: 16px;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 35px;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 15px;
	padding: 8px 20px;
	width: 80%;
	min-width: fit-content;
	min-width: 200px;
	margin: toRem(30) auto;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

// @media (min-width:$mobile){
// 	 .form__title{
// 		  max-width: 30%;
// 	 }
// }

.contact__form {
	position: relative;
}

.contact__box {
	position: relative;
	width: 100%;
	height: 58px;
	flex: 1 1 30%;
}
.contact__input {
	font-size: 20px;
	outline: none;
	border: none;
}

.contact__input {
	border-radius: 5px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	border: 2px solid gray;
	color: #fff;
	padding: 0.5rem 1rem;
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 2px;
	font-weight: 400;
	transition:
		border 0.4s,
		background-color 0.4s;
}

.contact__input::placeholder {
	color: #fff;
	transition: opacity 0.4s;
}

.contact__input:focus {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: 2px solid #fff;
}

.contact__input:-webkit-autofill {
	transition:
		background-color 6000s,
		color 6000s;
}

.contact__label {
	position: absolute;
	top: 8px;
	left: 10px;
	color: #fff;
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 400;
	background-color: #000;
	padding: 8px;
	pointer-events: none;
	transition:
		top 0.4s,
		opacity 0.4s,
		background-color 0.4s;
	opacity: 0;
}

.contact__area textarea {
	resize: none;
	padding-top: 1rem;
}

.contact__button {
	background-color: hsl(17, 100%, 56%);
	cursor: pointer;
	padding: 10px 30px;
	width: fit-content;
	border-radius: 10px;
	color: #fff;
	border: none;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	transition: background-color 0.4s ease-in ease-out 0.4s;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	font-size: 16px;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.contact__button:hover {
	background-color: hsl(17, 100%, 66%);
	outline: none;
	border: none;
}

.form__button {
	display: flex;
	align-items: center;
	justify-content: right;
}

.contact__input:focus::placeholder {
	opacity: 0;
}

// Move label up & sticky label
.contact__input:focus + .contact__label,
.contact__input:not(:placeholder-shown).contact__input:not(:focus)
	+ .contact__label {
	opacity: 1;
	top: -16px;
}

.form-error {
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	width: 100%;
	padding: 5px 10px;
	letter-spacing: 2px;
	text-align: center;
}

.contact__box {
}
.contact__area {
}
.contact__input {
}
.contact__label {
}
